services:
  frontend:
    build: .
    container_name: frontend-petent
    command: npm run dev -- --host 0.0.0.0 --port 5173
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    ports:
      - "5173:5173"
    restart: unless-stopped

volumes:
  node_modules:

